:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}


div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

:host ::ng-deep .width-60 {
    width: 60px;
}
